<template>
  <v-app  >
  
    <v-main class="white">
          <Nav />
      <v-container>
        
         <Nuxt />
      </v-container>
     
    </v-main>
    
  
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
 
  
}
</script>


