<template>
  <div>
    <div class="d-flex black--text display-4 justify-center my-10">
        <div class="my-16" >PAGE NOT <br>FOUND</div>
         <img :src="require('@/assets/images/fe7.jpg')" class="error-image">

    </div>


  </div>
</template>

<script>
export default {

}
</script>

<style>

.error-image{
  width: 400px;
  height: 400px;
}

</style>
